
body{
  margin:0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #7A4CD9 0%, #4FA3F7 100%);
  display: flex;
}
h1{
  color: #7A4CD9;
}
p{
  color: black;
  margin-bottom: 20px;
}
.App{
  margin-top: 10%;
  margin-bottom: 25%;
  justify-items: center;
  width: 650px;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  background-color: white ;
  box-shadow: rgba(0, 0,0,0.55);
}
.task-form{
  width:85%;
  padding: 10px;
  padding: 20px;
  border-radius: 30px;
  border: 1px solid black;
  font-size: 16px;
  outline: none;
   box-shadow: rgba(0, 0,0,0.15);
}
.input{
  width: 60%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  background-color:#F0F7FF;
}
.addtask{
  padding: 12px 25px;
  margin-left: 10px;
  background: linear-gradient(135deg, #7B4BF1, #5A59D6);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;

}
.level{
   padding: 12px 25px;
  margin-left: 10px;
  background:#5A59D6;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
 
}
.level option:hover{
  cursor: pointer;
  color: white;
  transition: transform 0.3s, color 0.3s;
}


.task-list {
  list-style: none;
  padding: 0;
  margin: 16px 0;
}

.task-list li {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 210px;
  font-weight: bold;
  padding: 12px;
  border: 1px solid #eeeeee;
  border-radius: 18px;
  border:1px solid  black;
  background: #ffffff;
}

.task-list li.completed {
  text-decoration: line-through;
  opacity: 0.7;
}

.task-list button {
  background: aliceblue;
  border: 20px;
  color: purple;
  font-weight: bold;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 12px;
}
.progress-tracker {
  margin-top: 16px;
  text-align: center;
}
.progress-tracker p{
  font-style: italic;
  font-size: normal;
  font-weight: bolder;
}
.progress-bar {
  height: 15px;
  width: 600px;
  background:yellow;
  border-radius: 999px;
  overflow: hidden;
  margin: 10px;
  border: 1px solid black;
}

.progress {
  height: 100%;
  background: green;
  transition: width 1.6s ease;
  
}
.clear-btn{
  font-weight: bold;
  font-size: 15px;
  background-color: red;
  color:white;
  margin-top: 10px;
  width: 600px;
  height: 25px;
  border-radius: 20px;
}
.clear-btn::after{
  cursor:pointer;
  background-color: red;
  color: white;

}